.globalContainer{
    padding: 20px 0px;
}

.cardContainer{
    z-index: 1;
    width: auto;
    height: 79.5vh;
    background-color: #e03f5c;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #aaa;
    box-shadow: 0px 0px 20px 0px;
    transition: all 200ms ease-in-out;
    border-radius: 30px;
}


.imgContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 28px;
    border-style: none;
}



.descriptionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 50vw;
    background-color: #777;
    padding: 10px 0px;
    border-radius: 30px;
}

.descriptionContainer h2{
    font-size: 20px;
}


.pokemonName{
    padding: 15px;
    font-size: 65px;
    text-transform: capitalize;
    color: #fff;
}

.typeDescription{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-transform: capitalize;
}

.backButton{
    text-decoration: none;
    margin: 20px 0px;
    padding: 10px 50px;
    font-size: 25px;
    background-color: #aaa;
    color: #fff;
    box-shadow: 0px 0px 10px 2px #777;
    transition: all 200ms ease-in-out;
}

.backButton:hover{
    scale: 1.1;
    background-color: #fff;
    color: #e03f5c;
}

